@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --yellow: #ffff00;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    
}

header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}
/* img{
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
} */
/* header .logo i{
    color: var(--green);
} */

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.2rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: var(--box-shadow);
    background: var(--yellow);
}

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
