@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --yellow: #ffff00;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}


header .navbar a{
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: 0.1rem;
    color: var(--yellow);
}

header .navbar a.active,
header .navbar a:hover{
    color: var(--black);
    background: var(--yellow);
}

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.icons{
    width: 100px;
    color: #192a56;
} 

.nav-color{
    background-color:rgb(34, 95, 110);
 
}